<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.ico')}}">
    <title>로그인</title>
</head>
<body>
    <div>
        <form action="/member/login.html" method="post">
            <ul>
                <li><input type="text" name="id" placeholder="id"></li>
                <li><input type="password" name="password" placeholder="password"></li>
            </ul>
            <input type="submit" value="로그인">
        </form>
    </div>
</body>
</html>