{% with messages = get_flashed_messages() %} {% if messages %}
<script>
  alert("{{messages[-1]}}");
</script>
{% endif %} {% endwith %}

<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=\, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/member/register.css" />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com/" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Gaegu&family=Quicksand:wght@500&family=Roboto:wght@100&display=swap"
    rel="stylesheet" />

  <title>회원가입</title>
</head>

<body>
  <header class="header">
    <span class="back_logo">
      <a href="/member/login.html">
        <img src="/static/images/뒤로가기.png" alt="뒤로가기" height="40px" />
      </a>
    </span>
    <span class="logo">
      <img src="/static/images/logo.png" alt="logo" height="80" />
      <a href="/"> AramByeol </a>
    </span>
    <span class="home_logo">
      <a href="/"><img src="/static/images/홈_로고.png" alt="메인화면으로" height="45px" /></a>
    </span>
  </header>

  <form action="/member/register.html" method="post">
    <ul class="user_information">
      <li>
        <label for="nameInput">아이디</label>
        <input type="text" placeholder="5-15자리 영문, 숫자" id="nameInput" name="id" />
      </li>
      <li>
        <label for="pwdInput">비밀번호</label>
        <input type="password" placeholder=" 6-16자리 영문, 숫자, 특수문자" id="pwdInput" name="password" />
      </li>
      <li>
        <label for="pwdInput">비밀번호 확인 </label>
        <input type="password" placeholder="비밀번호확인" id="pwdInput_chk" />
      </li>
      <li>
        <input type="button" class="pwdchk_button" value="비밀번호확인" onclick="playsignup()" />
      </li>
      <li>
        <input class="signup_button" type="submit" value="Sign up">
      </li>
    </ul>
  </form>

  <script type="text/javascript" src="/static/js/member/register.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>

</html>
