<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/member/register.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gaegu&family=Quicksand:wght@500&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>회원가입</title>
  </head>
  <body>
    <div class = header2>
      <div class="back">
       <a href="/member/login.html"> <img
          src="/static/images/뒤로가기.png"
          alt="뒤로가기"
          height="40"
        /></a>
      </div>
        <div class="header">
          <img src="/static/images/logo.png" alt="logo" height="80" />
          <a href="/"> AramByeol </a>
        </div>
        <div class = "home">
           <a href="/"><img src="/static/images/홈_로고.png" alt="메인화면으로" height="40px">
        </a>
        </div>
        <br /><br /><br />
      </div>
    </div>
    <div class="user_information">
      <form action="/member/register.html" method="post">
        <label for="username">이름</label>
        <input type="text" id="username" placeholder="이름" /><br /><br />
        <label for="nameInput">아이디</label>
        <input type="text" placeholder="id" id="nameInput" /><br /><br />
        <label for="pwdInput">비밀번호</label>
        <input
          type="password"
          placeholder="password"
          id="pwdInput"
        /><br /><br />
        <label for="pwdInput">비밀번호 확인 </label>
        <input
          type="pwdconfirm"
          name="password"
          placeholder="password"
        /><br /><br />

        <input type="submit" value="회원가입" />
      </form>
    </div>
  </body>
</html>
