body {
  margin: 0%;
}

#header {
  height: 35rem;
  background-color: #5fc1c2;
}

.header-top {
  display: flex;
  width: calc(100% - 4rem);
  padding: 1rem 2rem 0 2rem;
  align-items: center;
  justify-content: space-between;
}

.login a img {
  width: 4rem;
}

.logo-text a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
}

.logo-img {
  text-align: center;
  margin-top: 0rem;
}

.logo-img img {
  width: 30rem;
}

.modal-container {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.modal {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 35rem;
  width: 50%;
  min-width: 23rem;
  height: 22rem;
}

.modal-header {
  background-color: #5fc1c2;
  color: white;
  text-align: center;
  margin: 0%;
  padding: 0.5rem 0 0.5rem 0;
}

.modal-footer .login_link {
  display: none;
}

.modal-footer .close-btn {
  display: none;
  background-color: #fb9a40;
  color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  text-decoration: none;
}

.modal-content {
  text-align: center;
}

.modal_login_link {
  display: none;
  text-decoration: none;
}

.modal-header .close-btn {
  width: 1.5rem;
  margin: 0.3rem 0.3rem 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-evaluation {
  width: 100%;
}

.star {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.star li {
  list-style: none;
}

.star img {
  width: 4rem;
}

.submit {
  background-color: #fb9a40;
  color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  text-decoration: none;
}

.inner {
  text-align: center;
}

.hash-tag {
  font-family: "Gaegu", cursive;
  font-size: 3rem;
  color: #444444;
  margin: 2rem;

}
.Box-box{
  display: inline-block;
  display: flex;
  align-items: center;
}
.today-box {
  display: inline-block;
  border: 0.4rem solid #5fc1c2;
  margin: 1rem 2rem;
  width: 25rem;
  height: 35rem;
  overflow: auto;
}

.todoy-title {
  font-family: "Gaegu", cursive;
  font-size: 5rem;
  color: #5fc1c2;
}

.menu-table {
  text-align: center;
  margin: auto;
}

.main-box{
  display: inline-block;
}

.line {
  display: inline-block;
  width: 90%;
  margin-top: 1rem;
}

.course {
  display: inline-block;
  margin-bottom: 0.25rem;
  padding: 0 0.5rem;
  border: 1px solid #22499d;
  background: #f7faff;
  color: #000;
  line-height: 25px;
  font-weight: 500;
}

td {
  padding-top: 1rem;
}
