body {
  margin: 0%;
}

/* header */
#header {
  background-color: #5fc1c2;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  text-align: center;
  margin-top: 0rem;
  position: relative;
}

.logo-img img {
  position: absolute;
  bottom: 0;
}

/* modal */
.modal-container {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.modal {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 35rem;
  width: 50%;
  min-width: 20rem;
  height: 22rem;
}

.modal-header {
  background-color: #5fc1c2;
  color: white;
  text-align: center;
  margin: 0%;
  padding: 0.5rem 0 0.5rem 0;
}

.modal-header span {
  font-family: "Gaegu", cursive;
  font-size: 2rem;
}

.modal-footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

.modal-footer .login_link {
  display: none;
}

.modal-footer .close-btn {
  display: inline-block;
  background-color: #fb9a40;
  color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  text-decoration: none;
}

.modal-content {
  text-align: center;
}

.menu-name a {
  font-family: "Gaegu", cursive;
  font-size: 2rem;
}

.modal_login_link {
  display: none;
  text-decoration: none;
}

.modal-header .close-btn {
  width: 1.5rem;
  margin: 0.3rem 0.3rem 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

.star {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.star li {
  list-style: none;
}

.submit {
  background-color: #fb9a40;
  color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  text-decoration: none;
  font-family: "Gaegu", cursive;
  width: 4rem;
  display: inline-block;
}

/* main contents */
.inner {
  text-align: center;
}

.hash-tag {
  margin-left: 50px;
}

.today-box {
  display: inline-block;
  border: 5px solid #5fc1c2;
  margin: 10px 20px;
  width: 300px;
  height: 400px;
  overflow: auto;
}

.todoy-title {
  display: inline-block;
  font-size: 48px;
  color: #5fc1c2;
  margin: 10px 125px;
}

.menu-table {
  text-align: center;
  margin: 0 auto;
}

.line {
  display: inline-block;
  width: 90%;
  margin-top: 100px;
}

.course {
  display: inline-block;
  margin-bottom: 0.25rem;
  padding: 0 0.5rem;
  border: 1px solid #22499d;
  background: #f7faff;
  color: #000;
  line-height: 25px;
  font-weight: 500;
}

td {
  padding-top: 1rem;
}

/********************* Mobile *********************/
@media all and (max-width: 767px) {
  /* header */
  #header {
    height: 27rem;
  }

  .header-top {
    padding: 0rem 1rem 0 1rem;
    width: calc(100% - 2rem);
    height: 4rem;
  }

  .login a img {
    width: 3rem;
  }

  .logo-img {
    height: calc(100% - 4rem);
  }

  .logo-img img {
    width: 20rem;
    left: calc(50% - 10rem);
  }

  .logo-text a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
  }

  /* modal */
  .star img {
    width: 3rem;
  }
}
/********************* Tablet *********************/
@media all and (min-width: 768px) and (max-width: 1024px) {
  /* header */
  #header {
    height: 35rem;
  }

  .header-top {
    padding: 0rem 2rem 0 2rem;
    width: calc(100% - 4rem);
    height: 4.5rem;
  }

  .login a img {
    width: 2.5rem;
  }

  .logo-img {
    height: calc(100% - 4.5rem);
  }

  .logo-img img {
    width: 25rem;
    left: calc(50% - 12.5rem);
  }

  .logo-text a {
    text-decoration: none;
    color: white;
    font-size: 2.3rem;
    font-family: "Quicksand", sans-serif;
  }

  /* modal */
  .star img {
    width: 4rem;
  }
}
/********************* PC *********************/
@media all and (min-width: 1025px) {
  /* header */
  #header {
    height: 22rem;
  }

  .header-top {
    padding: 0rem 2rem 0 2rem;
    width: calc(100% - 4rem);
    height: 5rem;
  }

  .login a img {
    width: 4rem;
  }

  .logo-img {
    height: calc(100% - 5rem);
  }

  .logo-img img {
    width: 23rem;
    left: calc(50% - 15rem);
  }

  .logo-text a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
  }

  /* modal */
  .star img {
    width: 4rem;
  }
}
