body {
  margin: 0 0;
}

/* header */
#header {
  background-color: #5fc1c2; /* 헤더 배경색 */
  height: auto; /* 헤더 높이 */
}

.header-top {
  display: flex; /* 가로 배치 */
  align-items: center; /* 상하 가운데 정렬 */
  justify-content: space-between; /* 가로 좌우 끝 배치 */
}

.header-bottom {
  height: 100%;
}

.logo-img-box {
  text-align: center; /* 이미지 가운데 정렬 */
  position: relative;
}

.views {
  text-align: end;
  color: #ececec;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  margin-right: 1rem;
}

.eatGNU {
  display: block;
  text-align: end;
  margin-right: 1rem;
  margin-bottom: .1rem;
  font-family: "Poor Story", cursive;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  color: #ececec;
}

/* content */
.content {
  padding-bottom: 5rem;
}

/* footer */
#footer {
  width: 100%;
  background-color: #5fc1c2;
  color: #e5e5e5;
}

#footer .inner {
  padding-top: 3rem;
}

#footer .inner ul {
  padding: 0;
  margin: 0.7rem 2rem;
}

#footer .inner li {
  list-style: none;
}

#footer .inner span {
  font-size: 1.7rem;
  font-family: "Poor Story", cursive;
}

/* modal */
.modal-container {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.modal {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 35rem;
  width: 50%;
  min-width: 17rem;
  height: 22rem;
}

.modal-header {
  background-color: #5fc1c2;
  color: white;
  text-align: center;
  margin: 0%;
  padding: 0.5rem 0 0.5rem 0;
}

.modal-header span {
  font-family: "poor story", cursive;
  font-size: 2rem;
}

.menu-score {
  color: #eee56b;
}

.modal-footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

.modal-footer .login-link {
  display: none;
}

.login-link {
  font-family: "poor story", cursive;
  font-size: 2rem;
  margin-bottom: 10%;
}

.modal-footer .close-btn {
  display: inline-block;
  background-color: #fb9a40;
  color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  text-decoration: none;
  font-family: "poor story", cursive;
}

.modal-content {
  text-align: center;
}

.menu-name a {
  font-family: "poor story", cursive;
  font-size: 2rem;
}

.modal_login_link {
  display: none;
  text-decoration: none;
}

.modal-header .close-btn {
  width: 1.5rem;
  margin: 0.3rem 0.3rem 0 0;
  position: absolute;
  right: 0;
  top: 0;
}

.star {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.star li {
  list-style: none;
}

.submit {
  background-color: #fb9a40;
  color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  text-decoration: none;
  font-family: "Gaegu", cursive;
  width: 4rem;
  display: inline-block;
}

/* main contents */
.inner {
  text-align: center;
  max-width: 90rem;
  margin: 0 auto;
}

.hash-tag h1 {
  font-family: "Gaegu", cursive;
  font-size: 2.7rem;
  color: black;
  margin: 2rem 5rem;
  font-weight: 200;
}

.today-box {
  display: inline-block;
  border: 0.4rem solid #5fc1c2;
  width: 90%;
  max-width: 19rem;
  overflow: auto;
}

.menu-table {
  text-align: center;
  margin: auto;
}

.main-box {
  display: inline-block;
  width: 30%;
}

.line {
  display: inline-block;
  width: 100%;
}

.course {
  display: inline-block;
  margin-bottom: 0.25rem;
  padding: 0 0.5rem;
  border: 2px solid #5fc1c2;
  background: #5fc1c2;
  color: rgb(255, 255, 255);
  line-height: 25px;
  font-size: 1.5rem;
  border-radius: 15%;
}

td {
  padding-top: 1rem;
}

.today-title {
  font-family: "Gaegu", cursive;
  font-weight: 600;
  color: #000000;
}

.line hr {
  background-color: #e5e5e5;
  border: none;
  width: 95%;
}

.menu-table span {
  font-family: "Poor Story", cursive;
  font-weight: bold;
}

.score_menu {
  color: #eee56b;
}

/********************* Mobile *********************/
@media all and (max-width: 767px) {
  .header-top {
    padding: 0rem 1rem 0 1rem; /* header top padding */
    width: calc(100% - 2rem); /* header top padding을 뺀 너비 */
    height: 4rem; /* header top 높이 */
  }

  .login a img {
    width: 3rem; /* 로그인 버튼 이미지 너비*/
  }

  .logo-img-box img {
    max-width: 21rem; /* 로고 이미지 최대 크기 */
    width: 95%; /* 로고 이미지 크기 */
  }

  .logo-text a {
    text-decoration: none; /* a tag decoration을 사용 안 함 */
    color: white; /* 로고 색 */
    font-size: 1.5rem; /* 로고 폰트 크기 */
    font-family: "Quicksand", sans-serif; /* 폰트 종류 */
  }

  /* modal */
  .star img {
    width: 3rem;
  }

  /* footer */
  #footer {
    height: 30rem;
  }

  .weekday {
    margin-bottom: 2rem;
  }

  #footer .inner li {
    text-align: center;
  }

  /* inner section */
  .main-box {
    width: 80%;
    margin-bottom: 2rem;
  }

  .hash-tag h1 {
    font-size: 1.7rem;
    text-align: center;
    margin: 2rem 1.875rem;
  }

  .today-box {
    margin: 0;
    min-height: 10rem;
    max-height: 40rem;
  }

  .today-title {
    font-size: 1.5rem;
  }
}
/********************* Tablet *********************/
@media all and (min-width: 768px) and (max-width: 1024px) {
  .header-top {
    padding: 0rem 2rem 0 2rem; /* header top padding */
    width: calc(100% - 4rem); /* header top padding을 뺀 너비 */
    height: 4.5rem; /* header top 높이 */
  }

  .login a img {
    width: 2.5rem; /* 로그인 버튼 이미지 너비*/
  }

  .logo-img-box img {
    height: 27rem;
  }

  .logo-text a {
    text-decoration: none; /* a tag decoration을 사용 안 함 */
    color: white; /* 로고 색 */
    font-size: 2.3rem; /* 로고 폰트 크기 */
    font-family: "Quicksand", sans-serif; /* 폰트 종류 */
  }

  /* modal */
  .star img {
    width: 4rem;
  }

  /* footer */
  #footer {
    height: 20rem;
  }

  #footer .inner {
    display: flex;
    justify-content: center;
  }

  #footer .inner li {
    text-align: right;
  }
  /* inner section */
  .today-box {
    height: 30rem;
  }

  .today-title {
    font-size: 1.5rem;
  }

  .line {
    margin: 3rem 0;
  }
}
/********************* PC *********************/
@media all and (min-width: 1025px) {
  .header-top {
    padding: 0rem 2rem 0 2rem; /* header top padding */
    width: calc(100% - 4rem); /* header top padding을 뺀 너비 */
    height: 5rem; /* header top 높이 */
  }

  .login a img {
    width: 4rem; /* 로그인 버튼 이미지 너비*/
  }

  .logo-img-box img {
    height: 25rem;
    display: inline-block;
  }

  .logo-text a {
    text-decoration: none; /* a tag decoration을 사용 안 함 */
    color: white; /* 로고 색 */
    font-size: 3rem; /* 로고 폰트 크기 */
    font-family: "Quicksand", sans-serif; /* 폰트 종류 */
  }

  /* modal */
  .star img {
    width: 4rem;
  }

  /* footer */
  #footer {
    height: 20rem;
  }

  #footer .inner {
    display: flex;
    justify-content: center;
  }

  #footer .inner li {
    text-align: right;
  }

  /* inner section */
  .today-box {
    height: 30rem;
  }

  .today-title {
    font-size: 2rem;
  }

  .line {
    margin: 3rem 0;
  }
}
