.header {
    background-color : #5FC1C2;
    text-align : center;
    color : white;
    align-items: center;
    font-size : 4rem;
}

/* /하이퍼링크 색 바꾸기 */
a {
text-decoration-line : none;
color : white;

}

.input {
    border-right : 5px solid #5FC1C2;
    font-size: 2rem;
    text-align:center;
}

input {
    border : 3px;
}
.container {
    display : grid;
    grid-template-columns: 1fr 1fr;
}

.signup {
    text-align : center;
}

.hahaha {
    align-items : center;
    text-align : center;
}

