body {
  margin: 0%;
}

/* header */
#header {
  background-color: #5fc1c2;
}

.error-image {
  text-align: center;
}

/********************* Mobile *********************/
@media all and (max-width: 767px) {
  /* header */
  #header {
    height: 5rem;
  }

  .header-top {
    padding-left: 2rem;
    text-align: center;
    width: calc(100% - 4rem);
    height: 3rem;
  }

  .logo-text a {
    text-decoration: none;
    color: white;
    font-size: 4rem;
    font-family: "Quicksand", sans-serif;
  }

  #error-image0 {
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
  }

  .error-content {
    margin-top: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
  }
}

/********************* Tablet *********************/
@media all and (min-width: 768px) and (max-width: 1024px) {
  /* header */
  #header {
    height: 12rem;
  }

  .header-top {
    padding: 0rem 2rem 0 2rem;
    text-align: center;
    width: calc(100% - 4rem);
    height: 5rem;
  }

  .logo-text a {
    text-decoration: none;
    color: white;
    font-size: 8rem;
    font-family: "Quicksand", sans-serif;
  }

  #error-image0 {
    width: 40rem;
    height: 40rem;
  }

  .error-content {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
  }
}

/********************* PC *********************/
@media all and (min-width: 1025px) {
  /* header */
  #header {
    height: 12rem;
  }

  .header-top {
    padding: 0rem 2rem 0 2rem;
    text-align: center;
    width: calc(100% - 4rem);
    height: 5rem;
  }

  .logo-text a {
    text-decoration: none;
    color: white;
    font-size: 8rem;
    font-family: "Quicksand", sans-serif;
  }

  #error-image0 {
    width: 40rem;
    height: 40rem;
  }

  .error-content {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
  }
}
