<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>아람별</title>
</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="/" target="_self">
        <img src="image/logo.png" alt="logo" height="200px" style="vertical-align: middle;"> 아람별 </a>
    </div>
    <div class="login">
      <a href="http://www.naver.com/" target="_self">
        <img src="image/login2.png" height="80px" style="vertical-align: middle;"> login</a>
    </div>
  </div>

  <table class="Menu">
    <colgroup>
      <col style="width: 10%">
      <col style="width:30%">
      <col style="width:30%">
      <col style="width:30%">
    </colgroup>
    <tr>
      <th></th>
      <th>
        <div class="Menu_Date">
          <p id="Date_Today" style="color: black;"> today</p>
        </div>
      </th>
      <th>
        <div class="Menu_Date">
          <p id="Date_Tomorrow" style="color: black;"> Tomorrow</p>
        </div>
      </th>
      <th>
        <div class="Menu_Date">
          <p id="Date_NextTomorrow" style="color: black;"> NextTomorrow</p>
        </div>
      </th>
    </tr>

    <tr>
      <td>
        <div class="Menu_title"> 아<br>침 </div>
      </td>
      <td>
        <!--오늘 아침 -->
        <div class="Menu_name">
          <p>A코스 <br>
            ★★★★</p>
          쌀밥/누룽지<br>
          오만디된장국<br>
          계란말이<br>
          건맛살쪽파무침<br>
          마늘쫑깐마늘지<br>
          배추김치<br>
          모듬우유<br>
          <p> B코스<br>
            ★★★★</P>
          쌀밥/누룽지<br>
          블루베리베이글*버터*딸기잼<br>
          양송이스프<br>
          비엔나그릴구이<br>
          토마토크림치즈샐러드<br>
          오리엔탈D<br>
          모듬우유<br>

          <p> C코스<br>
            ★★★★</P>
          참치야채죽<br>
          계란말이<br>
          마늘쫑깐마늘지<br>
          배추김치<br>
          모듬우유<br>

          <p> 테이크아웃 <br>
            ★★★</P>
          밀크파운드빵<br>
          아몬드<br>
          삶은계란<br>
          모듬우유<br>
          </p>
        </div>
      </td>

      <td>
        <!--내일 아침 -->
        <div class="Menu_name">
          <!--<p> A코스<br>
      ★★★★★</P>
      쌀밥/누룽지<br>
      짜글이찌개<br>
      해물깻잎전<br>
      연근밤조림<br>
      호박나물<br>
      배추김치<br>
      모듬우유<br>
    
      <p> B코스<br>
      ★★★★</P>
      모카번<br>
      크랜베리아몬드그래놀라<br>
      자색고구마고로케<br>
      비엔나그릴구이<br>
      꽃맛살메추리알샐러드<br>
      모듬우유<br>

      <p> C코스<br>
      ★★★★</P>
      쇠고기버섯죽<br>
      해물깻잎전<br>
      호박나물<br>
      배추김치<br>
      모듬우유<br>

      <p> 테이크아웃 <br>
      ★★★</P>
      한라봉조각<br>
      아몬드<br>
      삶은계란<br>
      모듬우유<br>
    </p>
  -->
        </div>
      </td>

      <td>
        <!--모레 아침 -->
        <div class="Menu_name">
          <p>★★★</P>
          쌀밥/누룽지<br>
          피홍합국<br>
          돈육간장불고기<br>
          브로컬리두부무침<br>
          도라지무생채<br>
          배추김치<br>
          모듬우유<br>
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="Menu_title"> 점<br>심 </div>
      </td>
      <td>
        <!--오늘 점심 -->
        <div class="Menu_name">
          <p> A코스<br>
            ★★</P>
          쌀밥<br>
          곤약탕국<br>
          돈육김치찜<br>
          모듬야채오븐구이<br>
          콩나물무침<br>
          깍두기<br>

          <p> B코스<br>
            ★★★★</P>
          바지락칼국수<br>
          매운핫바<br>
          단무지<br>
          배추겉절이<br>
          매실주스<br>
          </p>
        </div>
      </td>
      <td>
        <!--내일 점심 -->
        <div class="Menu_name">
          <p> A코스<br>
            ★★★★</P>
          쌀밥<br>
          닭곰탕<br>
          완자전*케찹<br>
          멸치꽈리고추볶음<br>
          부추겉절이<br>
          깍두기<br>
          </P>

          <p> B코스<br>
            ★★★★</P>
          <P>
            나가사끼짬뽕<br>
            납작지짐만두<br>
            단무지<br>
            배추김치<br>
            리치<br>
          </P>
        </div>
      </td>
      <td>
        <!--모레 점심 -->
        <div class="Menu_name">
          <p>★★★</P>
          "쌀밥<br>
          뼈없는감자탕<br>
          고기산적떡조림<br>
          진미채채소무침<br>
          아삭고추된장무침<br>
          배추김치"<br>
          오미자주스<br>
          </P>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="Menu_title"> 저<br>녁 </div>
      </td>
      <td>
        <!--오늘 저녁 -->
        <div class="Menu_name">
          <p>★★★</P>
          쌀밥<br>
          만두육개장(大)<br>
          두부계란구이<br>
          볼어묵조림<br>
          깻잎지<br>
          배추김치"<br>
          석류주스<br>
          </p>
        </div>
      </td>
      <td>
        <!--내일 저녁 -->
        <div class="Menu_name">
          <p>★★★</P>
          "♥덮밥데이♥<br>
          토마토제육치즈덮밥<br>
          팽이버섯장국<br>
          마카로니콘샐러드<br>
          치커리오리엔탈소스무침<br>
          배추김치"<br>
          요구르트<br>
          </p>
        </div>
      </td>
      <td>
        <!--모레 저녁 -->
        <div class="Menu_name">
          <p>★★★</P>
          "자장덮밥<br>
          계란팟국<br>
          탕수육<br>
          오이양파무침<br>
          배추김치"<br>
          레몬아이스티<br>
          </p>
        </div>
      </td>

    </tr>



  </table>


  <script>
    var Target = document.getElementById("Date_Today");
    function Date_Today() {
      var time = new Date();
      var year = time.getFullYear();
      var month = time.getMonth();
      var date = time.getDate();
      var day = time.getDay();
      var week = ['일', '월', '화', '수', '목', '금', '토'];

      Target.innerText =
        `${year}-${month + 1}-${date}
        (${week[day]})`;
    }
    Date_Today();

    var Target = document.getElementById("Date_Tomorrow");
    function Date_Tomorrow() {
      var today = new Date();
      var today_ts = Date.parse(today);
      var yesterday_ts = today_ts + (60 * 60 * 24 * 1000);
      var time = new Date(yesterday_ts);
      var year = time.getFullYear();
      var month = time.getMonth();
      var date = time.getDate();
      var day = time.getDay();
      var week = ['일', '월', '화', '수', '목', '금', '토'];

      Target.innerText =
        `${year}-${month + 1}-${date}
        (${week[day]})`;
    }
    Date_Tomorrow();

    var Target = document.getElementById("Date_NextTomorrow");
    function Date_NextTomorrow() {
      var today = new Date();
      var today_ts = Date.parse(today);
      var yesterday_ts = today_ts + (60 * 60 * 24 * 1000) * 2;
      var time = new Date(yesterday_ts);
      var year = time.getFullYear();
      var month = time.getMonth();
      var date = time.getDate();
      var day = time.getDay();
      var week = ['일', '월', '화', '수', '목', '금', '토'];
      Target.innerText =
        `${year}-${month + 1}-${date}
        (${week[day]})`;
    }
    Date_NextTomorrow();


  </script>

</body>

</html>