<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>아람별</title>
</head>

<body>
<div class="hash-tag"> <h1> #오늘 #과제는 #내일</h1> </div>
<div class="body">
  <div class="todoy-title"> 아침 </div>
  <div class="todoy-title"> 점심 </div>
  <div class="todoy-title"> 저녁 </div>
</div>
<div class="body">
  <div class="today-box"> a </div>
  <div class="today-box"> a </div>
  <div class="today-box"> a </div>
</div>
<div class="body">
  <div class="line"> <hr size="5" noshade></div>
</div>


<body>
  <div class="hash-tag"> <h1> #내일 #메뉴 #11-22</h1> </div>
  <div class="body">
    <div class="todoy-title"> 아침 </div>
    <div class="todoy-title"> 점심 </div>
    <div class="todoy-title"> 저녁 </div>
  </div>
  <div class="body">
    <div class="today-box"> a </div>
    <div class="today-box"> a </div>
    <div class="today-box"> a </div>
  </div>
  <div class="body">
    <div class="line"> <hr size="5" noshade></div>
  </div>
</div>
</body>


<body>
  <div class="hash-tag"> <h1> #내일 #메뉴 #11-22</h1> </div>
  <div class="body">
    <div class="todoy-title"> 아침 </div>
    <div class="todoy-title"> 점심 </div>
    <div class="todoy-title"> 저녁 </div>
  </div>
  <div class="body">
    <div class="today-box"> a </div>
    <div class="today-box"> a </div>
    <div class="today-box"> a </div>
  </div>
  <div class="body">
    <div class="line"> <hr size="5" noshade></div>
  </div>
</div>
</body>
</html>